*, 
*:before,
*:after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

:root {
    --header-color: #ef8a85;
    --body-color: #a3c7e3;
    --footer-color: #ef8a85; 
    --text-color: #091013;
    --board-color: #dcd9d9;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}


header {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: var(--header-color);
    color: var(--text-color);
    width: 100%;
}



body {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: var(--footer-color);
    color: var(--text-color);
}


.game-board {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    margin-top: 90px;
}


.tile {
    border: 10px solid black;
    padding: 60px;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.symbol-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.symbol-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
}


.player-buttons {
    margin-top: 40px;
    margin-left: -10px;
    padding: 10px;
}

#computerButton, #secondPlayer {
    font-size: 24px;
    padding: 10px;
    margin: auto;
}

#computerButton {
    background-color: rgb(243, 165, 165);
}

#secondPlayer {
    background-color: rgb(197, 232, 244);
}

.player-symbols {
    margin: auto;
    margin-top: 20px;
    padding: 10px
}

#xButton, #oButton {
    font-size: 24px;
    padding: 10px;
}

.restart-button {
    margin: 20px;
    margin-top: 90px;
    padding: 8px;
    border: solid 2px black;
    border-radius: 10px;
}


.tile:first-child,
.tile:nth-child(2),
.tile:nth-child(3) {
    border-top: none;
}

.tile:nth-child(3n + 1) {
    border-left: none;
}

.tile:nth-child(3n + 3) {
    border-right: none;
}

.tile:last-child,
.tile:nth-child(8),
.tile:nth-child(7) {
    border-bottom: none;
}

.tile.x::before,
.tile.x::after,
.tile.circle::before,
.tile.circle::after {
    background-color: black; 
}

.game-board.x .tile:not(.x):not(.circle):hover::before,
.game-board.x .tile:not(.x):not(.circle):hover::after,
.game-board.circle .tile:not(.x):not(.circle):hover::before,
.game-board.circle .tile:not(.x):not(.circle):hover::after {
    background-color: lightblue;
}

.tile.x::before,
.tile.x::after,
.game-board.x .tile:not(.x):not(.circle):hover::before,
.game-board.x .tile:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.tile.x::before,
.game-board.x .tile:hover::before {
    transform: rotate(45deg);
}

.tile.x::after,
.game-board.x .tile:hover::after {
    transform: rotate(-45deg);
}



.tile.circle::before,
.tile.circle::after,
.game-board.circle .tile:not(.x):not(.circle):hover::before,
.game-board.circle .tile:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.tile.circle::before,
.game-board.circle .tile:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}


.tile.circle::after,
.game-board.circle .tile:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--body-color);
}

.tile.x,
.tile.circle {
    cursor: not-allowed;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem; 
    background-color: white;
    border: 1px solid black; 
    padding: .25em .5em;
    cursor: pointer;
}


.winning-message button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.winning-message.show {
    display: flex;
}